#progressBar {
    height: 30px;
    border: 1px solid #111;
    background-color: #FFFAF0;
    box-shadow: 7px 7px 4px #888888;
    display: none;
    margin-left: 5%;
    float: left;
    border-radius: 25px;
}

#progressBar div {
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #D2691E;
    border-radius: 25px;
}

/* mobility highlight */
.highlight-mobility {
    -webkit-box-shadow: inset 0 0 3px 3px #0099FF;
    -moz-box-shadow: inset 0 0 3px 3px #0099FF;
    box-shadow: inset 0 0 3px 3px #0099FF;
}

/* highlight last move */
.highlight-last-move {
    -webkit-box-shadow: inset 0 0 3px 3px chartreuse;
    -moz-box-shadow: inset 0 0 3px 3px chartreuse;
    box-shadow: inset 0 0 3px 3px chartreuse;
}

#circle_black {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 5px solid grey;
    border-radius: 25px;
    background: black;
}

#circle_white {
    width: 25px;
    height: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 5px solid grey;
    border-radius: 25px;
    background: white;
}

.info-table {
    table-layout: fixed;
    width: 85%;
    height: 100%;
    border: 2px solid black;
    box-shadow: 10px 10px 5px #888888;
}

.info-table td:first-child {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    color: #FFFAF0;
    background-color: #D2691E;
    padding-left: 5px;
}

.info-table td {
    word-wrap: break-word;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
    color: #A52A2A;
    background-color: #FFFAF0;
    text-align: justify;
    padding-left: 5px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#player-b-img-div {
    width: 5.5%;
    display: block;
    float: top;
    margin: auto;
}

#player-b-name-position {
    width: 40%;
    display: block;
    float: top;
    margin: auto;
    margin-top: -10px;
    text-align: center;
}

#left-panel {
    width: 30%;
    display: block;
    float: left;
}

#board {
    width: 90%;
    margin: 2%;
    margin-left: 5%;
    float: left;
}

#player-w-name-position {
    width: 40%;
    display: block;
    float: top;
    margin: auto;
    z-index: 2;
    position: relative;
    text-align: center;
}

#player-w-img-div {
    width: 5.5%;
    display: block;
    float: top;
    margin: auto;
    margin-top: 10px;
}

#control-pnl {
    display: block;
    overflow: hidden;
}

#control-pnl-left {
    position: relative;
    width: 25%;
    float: left;
}

#control-pnl-center {
    position: relative;
    width: 50%;
    float: left;
    text-align: center;
}

#control-pnl-right {
    position: relative;
    width: 25%;
    text-align: right;
    float: right;
}

.footer {
    margin-top: 9%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
}
