{#
/**
 * @file
 * Default theme implementation to print Chess think text.
 *
 * Available variables:
 *   - source_text
 *
 * @see template_preprocess_chessthink()
 *
 * @ingroup themeable
 */
#}
<div class="chessthink">
{% for item in source_text %}
  <p>{{ item }}</p>
{% endfor %}
</div>
